{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}
{% block title %}Add New Film{% endblock %}

{% block content %}
<div class="container container-small border bg-dark text-white p-3 my-5">
    <form action="" method="POST">
    {{ form.csrf_token }}
    <h1 class="heading" style="text-align: center">Add New Film To Database</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
         <p class="error text-center">{{ message }}</p>
        {% endfor %}
      {% endif %}
  {% endwith %}
    <div class="row">
        <div class="col">
            {{form.title.label(class="row justify-content-center")}}
        </div>
    </div>
    <div class="row py-2">
        <div class="col">
    {{ form.title(class="form-control") }}
        </div>
    </div>
    <div class="row py-2">
        <div class="col text-center">
            {{ form.submit(class="row btn btn-primary") }}
         </div>
    </div>
    </form>
</div>
{% endblock %}