<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

        {% block content %}
            <div class="container border container-large bg-dark text-white p-5 my-5">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                            <p class="info text-center">{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                <div class="row gx-4 gx-lg-5 py-2 justify-content-center" >
                    <div class="col-sm-8 col-lg-6" >
                        <h1 class="text-center my-2">BMDB</h1>
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 py-2 justify-content-center" >
                    <div class="col-sm-8 col-lg-6" >
                        <h2 class="text-center">Betty's Movie Database</h2>
                    </div>
                    <div class="row gx-4 gx-lg-5 py-2 justify-content-center">
                        <div class="col" >
                            <p class="text-center hidden">Let me choose 3 films at random based on what you're feeling like watching today!</p>
                        </div>
                    </div>
                    <div class="row gx-4 gx-lg-5 sm-8 col-lg-6 justify-content-center">
                            <a href="{{ url_for('search') }}" class="btn btn-primary hidden">Get Started</a>
                    </div>
                </div>
            </div>
        {% endblock %}
</body>
</html>